.ftb{
  font-family:'Padauk';
}
mat-sidenav {
  width: 150px;
  padding:5px;
  overflow-y: auto;
}
mat-sidenav-container3{
  /* height:100%; */
  /* width:150px; */
  background-color: rgb(7, 207, 197);
}
mat-toolbar{
    position:fixed;
    z-index: 100;
    /* overflow-x: hidden; */
    height:min-content;
    overflow-y: auto;
    width:100%;
  }
  mat-toolbar {
    background: rgb(7, 207, 197);
    color: white;
}
.tblbar2{
  z-index: 10;
  position: relative;
  /* text-align: center; */
  background-color: rgb(7, 207, 197);
  /* display:flex; */
  height:6%;
  
  
}

.vatsalyam{
  display:flex;
  /* background-color: blue; */
  flex: 1 1 auto;
  /* align-self: center; */
  /* vertical-align: middle; */
  color:blue;
  /* justify-self: end; */
  /* float:right; */
  height: 20px;
}
.vatsalyam1{
  display:flex;
  /* background-color: blue; */
  /* flex: 1 1 auto; 
  align-self: center;
  vertical-align: middle;*/
  /* color:blue; */
  /* margin-right: 100px; */
  /* margin-left: 160px; */
  /* font-size: large; */
padding-top: 4px;
height:10px;
/* text-decoration:none !important; */
/* background-image:url("favicon.ico"); */



}

mat-sidenav1 {
    margin: 16px;
    width: 200px;
    border-right: none;
    /* background: #002b5c; */
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content1 {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}
.con{
  position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}
mat-sidenav-container1 {
    height: calc(100vh - 65px);
}

  .side{
    background-color:rgb(7, 207, 197);
    /* height:150%; */
    width:180px;
    padding:2px;
    text-align: left;
    overflow-y:scroll;
    z-index: 0;
    /* display:flex; */
    height: calc(100vh - 5px);
  }
  .navbar{
    background-color: rgb(7, 207, 197);
    /* text-align: center; */
    float: right;
    /* height:120px; */
  }
  .favicon{
    float:left;
    margin-left: 1px !important;

  }
  
  .mb {
    min-height: 48px; 
    height: 95%;
    width: 60px;
    text-decoration:none;
    font-family: 'Padauk';
  }
  @media (min-width: 0) and (max-width: 1100px) and (orientation: portrait) {
    mat-toolbar {
      min-height: 56px; 
      width:55px;
      left: 0;
      margin: 0;
      height:95%;
      
    }
    
    .md-toolbar-tools {
      height: 56px;
      max-height: 56px; } 
    }
    /* @media (min-width: 0) and (max-width: 868px) and (orientation: portrait) {} */
  
  @media (min-width: 0) and (max-width: 1959px) and (orientation: landscape) {
    .mb {
      min-height: 48px; 
      height: 95%;
      width: 55px;
      text-decoration:none;
    }
    .mb a:active{
      text-decoration:none;
    }
    .md-toolbar-tools {
      height: 48px;
      max-height: 48px; 
    } 
  }
  /* mat-toolbar-row {
    justify-content:space-between;
  } */
  
  .spacer {
    flex: 1 1 auto;
  }
  .nmb a{
    text-decoration:none;
  }
  .nmb a:active {
    background-color: rgba(0,0,0, 0.3);
    text-decoration:none;

  }
  a:hover{
    text-decoration:none;
  }
  .lnk{
    text-decoration:none;
  }
  
  h1 {
    margin: 0;
  }
  
  h1.light {
    font-weight: 200;
    
  }
  .light{
    color:white;
    font-size:large;
    text-decoration:none;
    
  }
  .btn{
    width:100%;
    /* padding:3px; */
    text-align: center;
  text-decoration: none;
  border:none;
  }
  .lightmb{
    color:white;
    font-size:13px;
    font-size-adjust: 0.56;
    text-decoration:none;
    /* text-align: left; */
    left: 0;
    text-indent: 0in;
    /* width:140%; */
    
  }
  .lightmb a:active {
    background-color: rgba(0,0,0, 0.3);
    text-decoration:none;

  }
  .mb1{
    color:white;
    font-size:xx-small;
    text-decoration:none;
    text-align: left;
    left: -10px;;
    /* text-indent: 0in; */
    float:left;
    width:auto;

    
  }
  .mb1 a:active {
    background-color: rgba(0,0,0, 0.3);
    text-decoration:none;

  }
  