<!---->
<table  class="ftb">
        <tr><td>
<mat-toolbar class="nmb" color="accent" *ngIf="!this.isM">
    <button mat-button matTooltipClass="tooltip-pd" 
    matTooltip="Vatsalyam is pure expression of motherly love" matTooltipPosition="right">
        <a [routerLink]="['home']" routerLinkActive="active" class="lnk">
    <span class="light">VATSALYAM</span></a>
    </button>
    <p></p>
<span class="spacer"></span>
<button mat-button matTooltip="Gives Details About Vatsalyam"  matTooltipClass="tooltip-pd" 
        matTooltipPosition="below">
        <a [routerLink]="['home']" routerLinkActive="active">
                <span class="light">HOME</span></a>
</button>
<button mat-button matTooltip="Login for Donors to see profile of their sponsored couple"  
matTooltipClass="tooltip-pd" matTooltipPosition="below">
        <a [routerLink]="['login']" routerLinkActive="active">
                <span class="light">LOGIN</span></a>
</button>
<button mat-button matTooltip="Mession and Objectives of JAVS" 
matTooltipClass="tooltip-pd" matTooltipPosition="below">
        <a [routerLink]="['about']" routerLinkActive="active">
                <span class="light">ABOUT</span></a>
</button>
<button mat-button matTooltip="Meet Vatsalyam Torchbearers" 
matTooltipClass="tooltip-pd" matTooltipPosition="below">
        <a [routerLink]="['contact']" routerLinkActive="active">
                <span class="light">CONTACT</span></a>
</button>
<button mat-button matTooltip="Vatsalyam Requires Money! Be Generous" 
matTooltipClass="tooltip-pd" matTooltipPosition="below">
        <a [routerLink]="['donate']" routerLinkActive="active">
                <span class="light">DONATE</span></a>
</button>
<button mat-button matTooltip="Vatsalyam rests on the strong shoulders of these great souls" 
matTooltipClass="tooltip-pd" matTooltipPosition="below">
        <a [routerLink]="['mentors']" routerLinkActive="active">
                <span class="light">MENTORS</span></a>
</button>
<button mat-button matTooltip="Vatsalyam Video" 
matTooltipClass="tooltip-pd" matTooltipPosition="below">
        <a [routerLink]="['video']" routerLinkActive="active">
                <span class="light">VIDEO</span></a>
</button>
</mat-toolbar>

</td></tr></table>

<mat-sidenav-container *ngIf="this.isM" autosize>
        <mat-sidenav mode="over" #sidenav  position="start" >
                
                <div>
                <mat-toolbar class="side">
                        <p><button mat-button (click)="sidenav.toggle()">Vatsalyam</button></p>
                        <mat-toolbar-row>
                        <button mat-button mat-icon-button (click)="sidenav.close()">
                                        
                                <a [routerLink]="['home']" routerLinkActive="active" class="mb1">
                                        <span matTooltip="Home" matTooltipClass="tooltip12"
                                                matTooltipPosition="left"
                                                class="lightmb" >Home</span>
                                </a>
                                
                        </button>
                         </mat-toolbar-row>
                         <mat-toolbar-row>     
                        <button mat-button mat-icon-button (click)="sidenav.close()"
                                matTooltip="Login" matTooltipPosition="below">
                                <a [routerLink]="['login']" routerLinkActive="active" class="mb1">
                                        <span class="lightmb" (click)="sidenav.close()">Login</span>
                                </a>
                        </button>
                        </mat-toolbar-row>
                        <mat-toolbar-row>
                        <button mat-button mat-icon-button (click)="sidenav.close()">
                                <a [routerLink]="['about']" routerLinkActive="active" 
                                        class="mb1">
                                        <span class="lightmb" (click)="sidenav.close()">About</span>
                                </a>
                        </button>
                        </mat-toolbar-row>
                        <mat-toolbar-row>
                        <button mat-button mat-icon-button (click)="sidenav.close()">
                                <a [routerLink]="['contact']" routerLinkActive="active" 
                                        class="mb1">
                                        <span class="lightmb" (click)="sidenav.close()">Contact</span>
                                </a>
                        </button>
                </mat-toolbar-row>
                <mat-toolbar-row>
                        <button mat-button mat-icon-button (click)="sidenav.close()">
                                <a [routerLink]="['donate']" routerLinkActive="active" 
                                        class="mb1">
                                        <span class="lightmb" (click)="sidenav.close()">Donate</span>
                                </a>
                        </button>
                </mat-toolbar-row>
                <mat-toolbar-row>
                        <button mat-button mat-icon-button (click)="sidenav.close()">
                                <a [routerLink]="['details']" routerLinkActive="active" 
                                        class="mb1">
                                        <span class="lightmb" (click)="sidenav.close()">Details</span>
                                </a>
                        </button>
                </mat-toolbar-row>
                <mat-toolbar-row>
                        <button mat-button mat-icon-button (click)="sidenav.close()">
                                <a [routerLink]="['mentors']" routerLinkActive="active" 
                                        class="mb1">
                                        <span class="lightmb" (click)="sidenav.close()">Mentors</span>
                                </a>
                        </button>
                </mat-toolbar-row>
                <mat-toolbar-row>
                        <button mat-button mat-icon-button (click)="sidenav.close()">
                                <a [routerLink]="['video']" routerLinkActive="active" 
                                        class="mb1">
                                        <span class="lightmb" (click)="sidenav.close()">Video</span>
                                </a>
                        </button>
                </mat-toolbar-row>
                </mat-toolbar>
                
                </div>
        </mat-sidenav>
        <mat-sidenav-content class="">
                <div class="tblbar2 mat-elevation-z8" >
                        
                                <button mat-icon-button (click)="sidenav.toggle()">
                                        <mat-icon>menu</mat-icon>
                                </button>
                         
                                <span class="toolbar-spacer"></span>
                                <router-outlet></router-outlet>
                        
                </div> 
        </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
<!-- 
<mat-toolbar class="mb" color="accent" *ngIf="this.isM">

        <mat-toolbar-row>
                <button mat-button mat-icon-button 
                >
                        <a [routerLink]="['home']" routerLinkActive="active" class="mb1">
                                <span matTooltip="Home" matTooltipClass="tooltip12"
                                matTooltipPosition="left"
                                class="lightmb">Home</span></a>
                </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
                <button mat-button mat-icon-button 
                matTooltip="Login" matTooltipPosition="below">
                        <a [routerLink]="['login']" routerLinkActive="active" class="mb1">
                                <span class="lightmb">Login</span></a>
                </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
                <button mat-button mat-icon-button>
                        <a [routerLink]="['about']" routerLinkActive="active" class="mb1">
                                <span class="lightmb">About</span></a>
                </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
                <button mat-button mat-icon-button>
                        <a [routerLink]="['contact']" routerLinkActive="active" class="mb1">
                                <span class="lightmb">Contact</span></a>
                </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
                <button mat-button mat-icon-button>
                        <a [routerLink]="['donate']" routerLinkActive="active" class="mb1">
                                <span class="lightmb">Donate</span></a>
                </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
                <button mat-button mat-icon-button>
                        <a [routerLink]="['details']" routerLinkActive="active" class="mb1">
                                <span class="lightmb">Details</span></a>
                </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
        <button mat-button mat-icon-button>
                <a [routerLink]="['mentors']" routerLinkActive="active" class="mb1">
                <span class="lightmb">Mentors</span></a>
</button>
</mat-toolbar-row>
</mat-toolbar> -->
        

<!--<app-page></app-page>-->
<!-- <router-outlet></router-outlet> -->
